<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    404 Error | Dhytpix
{% endblock %}

{% block head%}
<style>
    #id_username{
        color: #000000;
    }
    #id_password{
        color: #000000;
    }
    #ofooter{
        position: center;
        width: 60%;
    }

    .btn_hover:hover{
        transform: scale(1.02);
    }

</style>
{% endblock %}

{% block content %}
    <header class="min-h-screen bg-black bg-opacity-50 bg-blend-overlay showcase border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat"  style="background-image: url('{% static 'img/Background_CowboyBebopHellica.jpg' %}');">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <form>
                <fieldset class="form-group">
                    <h1>
                        <legend class="border-bottom mb-4">404 Error!!</legend>
                        </h1>
                </fieldset>
            </form>

                <h4>
                    Ooops! Parece que nada foi encontrado neste local.<br />
                </h4>

                    <div class="">
                    <p>
                        <a style="color: #ffffff;" href="/">Retornar a Home</a>
                    </p>
                </div>

        </div>
    </header>
{% endblock %}